{% extends "ConnectMe/base2.html" %}
{% block content-1 %}
    <h1><strong>An all in one College Portal.</strong></h1>
        <p style="font-size: large;">We aim is to bridge the gap between juniors, seniors and teachers ,between different societies and students.
            It is where you get all information related to societies, from Admin desk, to all official or unofficial things going around you because so many WhatsApp group sucks! </p>
        <p style="font-size: large;">A place where you are as free as you are with your gang members. :XD. Think of any feature from a private
            groups to general announcements to share files to hold a webinar to having a class groups because
            present groups are not so charming. Think anything  we got all and more covered in future Updates.</p>
        <p style="font-size: large;">To meet and know students with same interest for better growth. To know all about your teachers and their
            research interset  because  <strong>Research Paper</strong> matters.</p>
    <h4>There are more things to do that we actually can’t summarise in word. But there is lot to come as we matures.</h4>
{% endblock content-1 %}