{% extends "ConnectMe/base.html" %}
{% load static %}
{%  block content %}

    <div class="blog-home3 py-5">
        <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h3 class="my-3">Latest News and Blog</h3>
        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">
      <!-- Column -->
      <div class="col-lg-6">
        <div class="card border-0 mb-4">
          <img class="card-img-top" src="{% static 'ConnectMe/1011.png' %}" alt="wrappixel kit">
          <div class="date-pos text-center text-white p-3 bg-success-gradiant">ConnectMe &nbsp; &nbsp; SEPT 15, 2020</div>
          <h5 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">Techonologies started to change Drastically</a></h5>
          <p class="m-t-20">
Over the years, technology has revolutionized our world and daily lives. Technology has created amazing tools and
              resources, putting useful information at our fingertips. Modern technology has paved the way for
              multi-functional devices like the smartwatch and the smartphone. Computers are increasingly faster,
              more portable, and higher-powered than ever before. With all of these revolutions, technology has also
              made our lives easier, faster, better, and more fun.  Since there are so many new technologies to keep
              track of, it can seem overwhelming to adapt. However, all of these new technologies are designed to make
              your life easier. So we have tried to develop an integrated portal packed up with amazing features which
              will help an individual to grow. Whether you are a student or a working professional this portal is for
              you.</p>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-6">
        <div class="row">
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="{% static 'ConnectMe/Date-Icon-TBA.png' %}"  alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-success-gradiant">ConnectMe &nbsp; &nbsp; SEPT 30, 2020</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Our Product For Schools</a></h6>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="{% static 'ConnectMe/Date-Icon-TBA.png' %}"  alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-success-gradiant">ConnectMe &nbsp; &nbsp; OCT 2, 2020</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Our Product For Colleges</a></h6>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="{% static 'ConnectMe/Date-Icon-TBA.png' %}"  alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-success-gradiant">ConnectMe &nbsp; &nbsp; OCT 15, 2020</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Our Product For Businesses</a></h6>
            </div>
          </div>
          <!-- Column -->
          <div class="col-md-6">
            <div class="card border-0 mb-4">
              <a href="#"><img class="card-img-top" src="{% static 'ConnectMe/Date-Icon-TBA.png' %}"  alt="wrappixel kit"></a>
              <div class="date-pos text-center text-white p-3 bg-success-gradiant">ConnectMe &nbsp; &nbsp; OCT 25, 2020</div>
              <h6 class="font-weight-medium mt-3"><a href="#" class="link text-decoration-none">New Seminar on Our Product For Basically Everyone!</a></h6>
            </div>
          </div>
          <!-- Column -->
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
    </div>

   <!-- Start: animated-services -->
    <div id="123456789">
    <section id="services" class="services">

        <div class="container-md section-title">
            <div class="text-center">
                <h5 class="d-inline-block justify-content-lg-center" style="background-color: #e2d6b5;width: 120px;margin-left: 0px;border-radius: 30px;padding: 5px;margin-top: 20px;color: #ffffff;font-size: 18px;">SERVICES</h5>
                <h2 style="color: #75aadb;">We Offer Awesome<span style="color: #d12d33;"><strong>&nbsp;Services</strong></span></h2>
                <p class="d-inline-block" style="width: 50%;"><strong>WE Aim to develop a complex private social network for school children, colleges and business with more unique features.
                    The community formed from likeminded people will help each other to grow and develop and help to become a better human being.</strong><br>&nbsp; &nbsp;&nbsp;</p>
            </div>

            <div class="row">
                <a href="{% url 'connectme-home' %}">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-dribbble" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><a href="https://dhruvchawla102.github.io/school/">For Schools</a></h4>
                            <p class="description">We want to enhance Indian Education System by not giving products to support school education but by trying our
                                little effects to make Education Better from<strong> SCHOOL LEVEL.</strong>
                                    <strong><a href="https://dhruvchawla102.github.io/school/"><br>KNOW MORE</a></strong> <br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="{% url 'connectme-home' %}">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-renren" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><a href="https://dhruvchawla102.github.io/college/">For Colleges</a></h4>
                            <p class="description">It is an aim to bridge a gap between juniors, seniors and teachers.
                                Between different societies and students. To meet and know students with same interest for a better growth.
                                            <strong><a href="https://dhruvchawla102.github.io/college/"><br>KNOW MORE</a></strong><br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="{% url 'connectme-home' %}">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><a href="https://dhruvchawla102.github.io/business">For Businesses</a></h4>
                            <p class="description">An integrated palace for digital media, professionals to meet same
                                minded person to support their carrier by keeping them updated with latest market scenarios.
                                To support healthy start up system and<strong><a href="https://dhruvchawla102.github.io/business/"> MUCH MORE...</a></strong> <br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                </a>
                <a href="{% url 'connectme-home' %}">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-telegram" style="margin-bottom: 15px;"></i>
                            <h4 class="title">ContactUs<a href="#"></a></h4>
                            <p class="description">FOR ANY OTHER CUSTOMIZATION WE BELIVE IN FREE AND OPEN SOURCE COMUNITY
                                WE ARE ALL FOR ONE AND EVERYONE. CONTACT US FOR <strong><a href="#contact2403200101">KNOWING MORE</a></strong><br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </section>
     </div>
    <!-- End: animated-services -->
    <!-- Start: Features Clean -->
    <div class="features-clean">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">Variety of features under one domain</p>
            </div>
            <!-- End: Intro -->
            <!-- Start: Features -->
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">More than Just Website</h3>
                    <p class="description">Integrated Services from Meetings to Chat to taking notes or managing daily task to communicate with faculty ,administartion and find best handpicked resources at one place to much more  </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">All hour Community Support</h3>
                    <p class="description">We are there to help yoy 24 X 7 whether technical or taking help in using application. We will not stop untill you are satisfied. </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">We are user-friendly service we believe each organisation has different need so we are here to help you.You think of a feature we got it covered in our next major Update <</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">Unique Oflline & Online &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Approach</h3>
                    <p class="description">We aim to make your organisation find best in your terms. You provide a problem we help to solve the root cause. </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Security First</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">Edu Based Social Networking</h3>
                    <p class="description">A private social networking service to find person with same interest and explore your campuses and field of learning or your business domains .</p>
                </div>
            </div>
            <!-- End: Features -->
        </div>
            <!-- End: Features Clean -->
    </div>

{% endblock content%}